<div class="container">
  <img class="logo" src="./assets/logo.png" />
  <div>
    <mat-card class="loginBox">
      <h3 class="center">Thank You!</h3>
      <p class="instruction">
        Thanks for attending the quiz, hope to see you at
        <br/>
        <span style="font-weight: bold;">MSM Golden Jubilee Conference</span>
        <br/>
        <span style="font-weight: bold;">December 27,28,29</span>
        <br/>
        <span style="font-weight: bold;"> Calicut University Campus</span>
      </p>
      <img class="logo" src="./assets/golden.png" />
    </mat-card>
  </div>
</div>
